:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button {
    display: flex;
    justify-content: center;
  }
  